/* google fonts url link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* remove default browser style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for full webpage */
.container {
  width: 1240px;
  margin: auto;
  /* padding: 0px 60px; */
  font-family: "Work Sans", sans-serif;
}

#banner-part {
  width: 100%;
  background-image: url("../image/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 83px 0px;
}

.banner-content {
  width: 100%;
  direction: rtl;
  padding: 180px 0px;
}

.banner-content h1 {
  color: white;
  font-size: 65px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  padding-bottom: 30px;
}
.banner-content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 5px;
  line-height: 25px;
  padding-bottom: 40px;
}

.rglr-btn-style {
  color: #005fac;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 42px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.rglr-btn-style:hover {
  color: white;
  padding: 18px 40px;
  background-color: transparent;
  border: 2px solid white;
}
/* End banner Style */

/* Start Failurs part */
#failures {
  width: 100%;
  padding: 120px 0px;
}

.failur-content {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failer-left-img {
  width: 50%;
  margin-right: 40px;
}

.failur-des {
  margin-left: 40px;
}

.failur-des h2 {
  font-size: 40px;
  padding-bottom: 35px;
}

.failur-des p {
  color: #444343;
  line-height: 28px;
  word-spacing: 4px;
  font-size: 17px;
  padding-bottom: 25px;
}

.failur-des ul li {
  font-size: 17px;
  list-style-type: none;
  line-height: 38px;
}
.failur-des ul li:before {
  color: #16d887;
  font-size: 34px;
  content: "\2713\0020";
}
/* End failur part Style */

/* Start Plan section style */
#my-plan {
  width: 100%;
  overflow: hidden;
  padding: 130px 0px;
}
.plan-title {
  width: 100%;
}
.plan-title h2 {
  font-size: 40px;
  padding-bottom: 75px;
  text-align: center;
}

.plan-box {
  display: flex;
  justify-content: space-evenly;
}
.box {
  text-align: center;
}
.box img {
  width: 72px;
  padding-bottom: 28px;
}

.box h3 {
  font-size: 24px;
  padding-bottom: 10px;
}
.box p {
  font-size: 17px;
  color: grey;
  font-weight: 500;
}
/* End my plan section */

/* Start Mind set */
#midset-part {
  width: 100%;
  overflow: hidden;
  margin-bottom: 120px;
}
.mindset-content {
  width: 100%;
  padding: 60px 0px 40px 50px;
  background-image: linear-gradient(
      to right,
      rgb(0, 95, 172, 90%),
      rgb(226, 226, 228, 50%)
    ),
    url("../image/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.mindset-content h2 {
  color: white;
  word-spacing: 8px;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 20px;
}
/* End Mindset Style */

/* Start Footer */
footer {
  width: 100%;
  overflow: hidden;
  background-color: black;
}
.footer-content {
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 130px 0px;
  display: flex;
}

.footer-des {
  width: 45%;
  margin-right: 5%;
}

.footer-des h3 {
  font-size: 32px;
  padding: 20px 0px;
}

.footer-des article {
  color: rgb(219, 204, 204);
  padding-bottom: 18px;
  line-height: 26px;
}
.footer-des P {
  color: rgb(219, 204, 204);
  padding-bottom: 10px;
}

.footer-social ul {
  display: flex;
}
.footer-social ul li {
  cursor: pointer;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 20px;
}

.footer-subscribe {
  width: 35%;
  margin-left: 20%;
}
.footer-subscribe h3 {
  font-weight: 500;
  font-size: 22px;
  padding: 22px 0px;
}

.footer-subscribe input {
  display: block;
  color: white;
  width: 300px;
  padding: 18px 20px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 15px;
}

.subscribe-btn {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 16px 21px;
  background-color: #005fac;
  font-size: 17px;
}
.subscribe-btn:hover {
  color: white;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.2s ease-in-out all;
}
