/* google fonts url link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* remove default browser style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for full webpage */
.container {
  width: 1240px;
  margin: auto;
  padding: 0px 60px;
  font-family: "Work Sans", sans-serif;
}

#banner-part {
  width: 100%;
  background-image: url("../image/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  width: 100%;
  direction: rtl;
  padding: 180px 0px;
}

.banner-content h1 {
  color: white;
  font-size: 65px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  padding-bottom: 30px;
}
.banner-content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 5px;
  line-height: 25px;
  padding-bottom: 40px;
}

.rglr-btn-style {
  color: #005fac;
  font-size: 20px;
  font-weight: bold;
  padding: 22px 40px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.rglr-btn-style:hover {
  color: white;
  padding: 20px 39px;
  background-color: transparent;
  border: 2px solid white;
}

/* End banner Style */

/* Start Failurs part */
#failures {
  width: 100%;
  padding: 120px 0px;
}

.failur-content {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failer-left-img {
  width: 50%;
  margin-right: 40px;
}

.failur-des {
  margin-left: 40px;
}

.failur-des h2 {
  font-size: 40px;
  padding-bottom: 35px;
}

.failur-des p {
  color: #444343;
  line-height: 28px;
  word-spacing: 4px;
  font-size: 17px;
  padding-bottom: 25px;
}

.failur-des ul li {
  font-size: 17px;
  list-style-type: none;
  line-height: 38px;
}
.failur-des ul li:before {
  color: #16d887;
  font-size: 34px;
  content: "\2713\0020";
}
